#contactUs {
    .contact-image-1 {
        background-image: linear-gradient(to top, $blackTransImage, $blackTransImage), url(../images/12.jpg);
        background-position: 65%;
    }
    
    .imgtag {
        width: 100%;
        max-width: 992px;
        height: auto;
    }

    h1 {
        font-size: 3rem;
    }
}

