#contactUs {
    .contact-image-1 {
        background-image: linear-gradient(to top, $blackTransImage, $blackTransImage), url(../images/2.jpg);
        background-position: 65%;
    }

    .form-overlay {
        background: $darkRedFormTrans;
        color: $brightGray;
        margin: 6rem;
        left: 0;
        text-align: center;
        border: 1px $grayTrans solid;
        box-shadow: 1px 1px 4px $midGray;
        width: 100%;
    }
    
    .imgtag {
        width: 100%;
        max-width: 992px;
        height: auto;
    }

    h1 {
        font-size: 3rem;
    }
}

