#home {
    .home-image-1 {
        background-image: linear-gradient(to top, $blackTransImage, $blackTransImage), url(../images/5.jpg);
        padding-bottom: 65rem;
        background-position: 65%;
    }
    
}

