#order {
    .order-image-1 {
        background-image: linear-gradient(to top, $blackTransImage, $blackTransImage), url(../images/4.jpg);
        background-position: 65%;
    }
    
    .imgtag {
        width: 100%;
        max-width: 550px;
        height: auto;
    }

    .order-overlay {
        background: $darkGrayTrans;
        color: $brightGray;
        left: 0;
        text-align: center;
        border: 1px $grayTrans solid;
        box-shadow: 1px 1px 4px $midGray;
    }

    .list-overlay {
        background: $darkGray;
        color: $brightGray;
        text-align: center;
        border: 1px $grayTrans solid;
        box-shadow: 1px 1px 4px $midGray;
        width: 100%;
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding-top: .5rem;
        transition: .25s ease-in-out;
    }

    .list-overlay:hover {
        background: $darkRed;
        cursor: pointer;
    }
}