// Colors 
    // Solid Grays 
            $white: #ffffff;
            $whiteGray: hsl(0, 0%, 89%);
            $brightGray: hsl(0, 0%, 83%);
            $lightGray: hsl(0, 0%, 73%);
            $midGray: hsl(0, 0%, 50%);
            $gray: hsl(0, 0%, 37%);
            $darkGray: hsl(0, 0%, 27%);
            $blackGray: hsl(0, 0%, 18%);
            $black: hsl(0, 0%, 0%);
    // Trans Grays 
            $lightGrayTrans: hsla(0, 0%, 73%, .2);
            $grayTrans: hsla(0, 0%, 37%, .2);
            $grayTransButton: hsla(0, 0%, 7%, 0.8);
            $blackGrayTrans: hsla(0, 0%, 18%, .2);
            $blackTransImage: hsla(0, 0%, 0%, .5);
    // Solid Reds 
            $red: hsl(0, 100%, 50%);
            $redGray: hsl(0, 70%, 50%);
            $grayRed: hsl(0, 50%, 50%);
            $darkRed: hsl(0, 70%, 28%);
    // Trans Reds 
            $redTrans: hsla(0, 100%, 50%, .5);
            $redGrayTrans: hsla(0, 70%, 50%, .5);
            $grayRedTrans: hsla(0, 50%, 50%, .5);
            $darkGrayRedTrans: rgba(95, 11, 11, 0.5);

// Fonts
        $font-main: fantasy, sans-serif;
